<form [formGroup]="person" (ngSubmit)="save()">
    FirstName : <input type="text" formControlName="firstName"> 
    <span *ngIf="firstName?.touched && firstName?.errors?.['required']">
        FirstName is required
    </span>
    <span *ngIf="firstName?.touched && firstName?.errors?.['minlength']">
        FirstName must be atleast 3 characters long
    </span>
    <span *ngIf="firstName?.touched && firstName?.errors?.['maxlength']">
        FirstName must be atleast 25 characters long
    </span>
    <span *ngIf="firstName?.touched && firstName?.errors?.['pattern']">
        FirstName must contain only lowercase alphabets
    </span>
    <br>
    LastName : <input type="text" formControlName="lastName">
    <span *ngIf="lastName?.touched && lastName?.errors?.['required']">
        LastName is required
    </span>
    <span *ngIf="lastName?.touched && lastName?.errors?.['minlength']">
        LastName must be atleast 2 characters long
    </span>
    <span *ngIf="lastName?.touched && lastName?.errors?.['maxlength']">
        LastName must be atleast 15 characters long
    </span>
    <span *ngIf="lastName?.touched && lastName?.errors?.['pattern']">
        LastName must contain only lowercase alphabets
    </span> <br>
    UserName : <input type="text" formControlName="username"> 
    <span *ngIf="username?.touched && username?.errors?.['required']">
        UserName is required
    </span>
    <span *ngIf="username?.touched && username?.errors?.['email']">
        UserName must be a valid email
    </span>
    <br>
    Password : <input type="password" formControlName="password"> 
    <span *ngIf="password?.touched && password?.errors?.['required']">
        password is required
    </span>
    <span *ngIf="password?.touched && password?.valid && checkStrongPassword()">
        {{strongcheckMessage}}
    </span>
   <br>
    Confirm password : <input type="password" formControlName="confirmPassword"> 
    <span *ngIf="confirmPassword?.touched && confirmPassword?.errors?.['required']">
        confirmPassword is required
    </span>
    <span *ngIf="confirmPassword?.touched && confirmPassword?.valid && checkStrongConfirmPassword()">
        {{strongcheckMessage}}
    </span>
   <br>
    <input type="submit" value="submit">
</form>